html,
body {
    height: 100%;
    margin: 0;
  background-image: url(../images/header.webp); /* Reemplaza con tu URL de imagen */
  background-size: cover; /* La imagen cubre todo el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
}
footer {
    margin:0;
    width: 100%;
    min-height:500px;
    height: auto;
    background-image: url(../images/footer-pawpoint3.png);
    background-size: cover; /* La imagen cubre todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat;
}
.footer-text {
  color: #009a8d;
}
.navbar {
  font-size: 1.3em;

}
input {
    all: unset; /* Elimina estilos predeterminados */
    box-sizing: border-box; /* Garantiza un buen comportamiento de tamaños */
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

/*FILOSOFIA */
/* Estilo para la sección */
.filosofia {
  display: flex; /* Para crear las dos columnas */
  min-height: 100%;
  min-width: 100%;
  height: 100vh; /* O la altura que necesites */
  background-image: url(../images/adopta2.jpg); /* La imagen de fondo */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; /* Centrar la imagen */
}

/* Columna izquierda (vacía para mostrar la imagen de fondo) */
.filosofia .columna-izquierda {
  flex: 2; /* Ocupa la mitad del ancho */
  padding: 17rem;
}

/* Columna derecha (con contenido) */
.filosofia .columna-derecha {
  flex: 1; /* Ocupa la otra mitad */
  padding: 3rem; /* Espaciado interno */
  text-align: left; /* Alineación del texto */
}
.text-filosofia {
  text-align: right;
}
.filosofia p{
  font-size: 1.2em!important;
}

/* Título */
.filosofia h2 {
  font-size: 3rem; /* Tamaño del título */
  margin-bottom: 1rem; /* Espaciado inferior */
}

/* Texto */
.filosofia p {
  font-size: 1rem; /* Tamaño del texto */
  line-height: 1.5; /* Altura de línea */
}

/* FIN DE FILOSOFIA */


.custom-color-1 {
    color: rgba(108, 203, 199, 1);
}

.w-85 {
    width: 85%;
}

.custom-shadow-1 {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.custom-shadow-2{
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.cita h2, .servicios h2 {
  font-size:2.8em;
}
.cita p {
  font-size:1.2em;
}
/* From Uiverse.io by PriyanshuGupta28 */
.pushable {
    position: relative;
    background: transparent;
    padding: 0px;
    border: none;
    cursor: pointer;
    outline-offset: 4px;
    outline-color: deeppink;
    transition: filter 250ms;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: hsl(227, 12%, 43%);
    border-radius: 8px;
    filter: blur(2px);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background: linear-gradient(to right,
            #544e73 0%,
            #544e73 8%,
            #544e73 92%,
            #544e73 100%);
}

.front {
    display: block;
    position: relative;
    border-radius: 8px;
    background: #37324F;
    padding: 16px 32px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1rem;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable:hover {
    filter: brightness(110%);
}

.pushable:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.pushable:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
    outline: none;
}



.text-gradient {
    background: linear-gradient(45deg, #544e73 0%, #726d92 50%, #8f8baa 100%);
    -webkit-background-clip: text;
    background-clip: text;
    
    -webkit-text-fill-color: transparent;
  }


  .test {
    color: rgb(255, 139, 177);
  }


  
/* 
  button {
    --width: 150px;
    --timing: 2s;
    border: 0;
    width: var(--width);
    padding-block: 1em;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    background: rgb(224, 9, 120);
    transition: all 0.2s;
    border-radius: 8px;
    cursor: pointer;
  }
  
  button:hover {
    background-image: linear-gradient(
      to right,
      rgb(250, 82, 82),
      rgb(250, 82, 82) 16.65%,
      rgb(190, 75, 219) 16.65%,
      rgb(190, 75, 219) 33.3%,
      rgb(76, 110, 245) 33.3%,
      rgb(76, 110, 245) 49.95%,
      rgb(64, 192, 87) 49.95%,
      rgb(64, 192, 87) 66.6%,
      rgb(250, 176, 5) 66.6%,
      rgb(250, 176, 5) 83.25%,
      rgb(253, 126, 20) 83.25%,
      rgb(253, 126, 20) 100%,
      rgb(250, 82, 82) 100%
    );
    animation: var(--timing) linear dance6123 infinite;
    transform: scale(1.1) translateY(-1px);
  }
  
  @keyframes dance6123 {
    to {
      background-position: var(--width);
    }
  } */





  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
  }
  
  .title {
    font-size: 28px;
    color: rgb(255, 15, 99);
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: rgb(255, 15, 99);
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: rgb(255, 15, 99);
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  

  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  


  .input {
    background-color: #ffffff67 ;
    color: #161616;
    font-weight: 400;
    font-family:'Roboto', sans-serif;
    /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); */

  }

  
  .submit {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
/*   .submit:hover {
     background-color: rgb(56, 90, 194); 
  } */

  .zindex {
    z-index: 100;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }
  


/* CSS */
.button-75 {
  align-items: center;
  background-image: linear-gradient(135deg, #092bc4 40%, #2366be);
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Codec cold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 54px;
  justify-content: center;
  letter-spacing: .4px;
  line-height: 1;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.resalta {
  color: #092bc4;
}
.button-75:active {
  outline: 0;
}

.button-75:hover {
  outline: 0;
}

.button-75 span {
  transition: all 200ms;
}

.button-75:hover span {
  transform: scale(.9);
  opacity: .75;
}

@media screen and (max-width: 991px) {
  .button-75 {
    font-size: 15px;
    height: 50px;
  }

  .button-75 span {
    line-height: 50px;
  }
}


.popup {
    height: 30px;

    background-color: #f34079;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}

.testing {
    transition: all 0.5s ease;

}