html,
body {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}


footer {
  margin: 0;
  width: 100%;
  min-height: 500px;
  height: auto;
  background-image: url(../images/footer-pawpoint3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-text {
  color: #009a8d;
}

.navbar {
  font-size: 1.3em;
  transition: all 0.5s ease;
}

.navbar-scrolled {

  backdrop-filter: blur(15px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.navbar-open {
  background-color: white !important;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.navbar-open .nav-link {
  color: #000 !important;
}


.navbar .nav-link {
  margin: 0 10px;
  position: relative;
  color: #000;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.navbar .nav-link:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #092bc4;
  transition: width 0.3s ease;
}

.navbar .nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: transparent;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.navbar .nav-link.active {
  background-color: #092bc4;
  color: #fff !important;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.navbar .nav-link.active::after {
  content: none;
}

.whole-header {
  background-image: url(../images/header.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
}

.filosofia {
  display: flex;
  min-height: 80vh;
  width: 100%;
  background-color: #FFD700; /* Fondo amarillo */
  align-items: stretch;
}

.filosofia .columna-izquierda {
  flex: 1;
  max-width: 50%;
  padding: 3rem 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filosofia .columna-derecha {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.filosofia-img {
  max-width: 90%;
  height: auto;
  object-fit: contain; 
  display: block;
}

.text-filosofia {
  text-align: right;
}

.filosofia p {
  font-size: 1.2em !important;
}

.filosofia h2 {
  text-align: right;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.filosofia p {
  font-size: 1rem;
  line-height: 1.5;
}

.cita h2,
.servicios h2 {
  font-size: 2.8em;
}

.cita p {
  font-size: 1.2em;
}
.cita img {
  width: 100%;
  min-width: 375px;
  height: auto;
}
@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.button-75 {
  align-items: center;
  background-image: linear-gradient(135deg, #092bc4 40%, #2366be);
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Codec cold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 54px;
  justify-content: center;
  letter-spacing: .4px;
  line-height: 1;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.resalta {
  color: #092bc4;
}

.button-75:active {
  outline: 0;
}

.button-75:hover {
  outline: 0;
}

.button-75 span {
  transition: all 200ms;
}

.button-75:hover span {
  transform: scale(.9);
  opacity: .75;
}
.button-contenedor-cita {
  display: flex;
  margin-top: 2rem;
}




@media screen and (max-width: 991px) {
  .button-75 {
    font-size: 15px;
    height: 50px;
  }

  .button-75 span {
    line-height: 50px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

}
  @media screen and (max-width: 768px) {
    .filosofia {
        flex-direction: column;
        text-align: center;
    }

    .filosofia .columna-izquierda {
        max-width: 100%;
    }

    .filosofia .columna-derecha {
        justify-content: center;
        margin-top: 2rem;
    }

    .filosofia-img {
        max-width: 80%;
    }

    .second-section {
      padding-top: 80px; /* Ajusta este valor según la altura de tu navbar */
  }

  .cita-col-2 {
    text-align: center;
  }
  .button-cita{
    margin: 0 auto;
  }
}

@media screen and (max-width: 450px) {
  .filosofia .columna-derecha {
    margin-top: -40px;
  }
  .filosofia-img {
    max-width: 90%;
  }

  .button-cita {
    width: auto;
  }
}



